
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    background:rgb(226, 43, 43)
  }  
  img {
    min-height: 100%;
    min-width: 100%;
  }



  /* path {
    stroke-dasharray: 99.47578430175781;
    stroke-dashoffset: -99.47578430175781;
    fill: transparent;
  }
   */
  
  @keyframes draw {
    0% {
      opacity: 1;
      stroke-dashoffset: -99.47578430175781;
      fill: transparent;
      transform: translateY(0);
    }
    
    35% {
      stroke-dashoffset: 0;
      fill: transparent;
    }
    
    60% {
      fill: #3da35a;
      opacity: 1;
      transform: translateY(0);
    }
    
    100% {
      fill: #3da35a;
      stroke-dashoffset: 0;
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
  button {
    position: absolute;
    top: 50%;
    left: 43%;
    cursor: pointer;
    min-width: 200px;
    padding: 15px 5px;
    text-transform: uppercase;
    vertical-align: middle;
    background: transparent;
    border: none;
    color:rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(56,100,38);
    transition: all 1s;

  }
  
  button:hover {
    box-shadow: 0 0 25px rgb(56,100,38);
    background-color: rgb(143, 238, 130);
  }
  
  button:focus {
    outline: none;
  }
html {
    font-family: 'Roboto', sans-serif;
}
#toggle-div {
    display: none;
}
.love {
    min-width: 100%;
    min-height: 100%;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  /* display: none; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal__dialog {
    max-width: 500px;
    margin: 40px auto; }
  .modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
   }
   .modal__content p {
    font-family: "Indie Flower";
    font-size: 30px;
    color: rgb(255, 8, 214);
    left: 25%;
    font-weight: 400;
    background: rgba(255,255,255,.8)!important;
    border: 1px solid rgb(0, 185, 99);
    cursor: pointer;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
   }
  .modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer; }
  .modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase; }
  .modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: none; }
  .modal .btn {
    display: block;
    width: 280px;
    margin: 0 auto; }
.content span:nth-child(1) {
  color: rgb(255, 0, 0);
}
@media (max-width: 900px) {
  button {
    left: 38%;
    }

}
@media (max-width: 776px) {
  .love {
    display: none;
  }
  .content p {
    margin: 0 auto;
  }
  button {
    left: 32%;
    }
    .gif {
      display: none;
    }
}
@media (max-width: 576px) {
  button {
    left: 25%;
  }
}